body {
  background-image: url(./img/bg-pattern-top-desktop.svg), url(./img/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  height: 100vh;
  margin: 0;
}

@media (max-width: 1000px) {
  body {
    padding: 30px;
    padding-top: 100px;
    margin: 0;

    background-image: url(./img/bg-pattern-top-mobile.svg), url(./img/bg-pattern-bottom-mobile.svg);
    background-position: top, bottom;
  }
}